@page
@model P_S_Reality.Pages.Agents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Agents in the Cincinnati Area</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].ExperienceYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].AverageRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].DateJoined)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Agent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateJoined)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AgentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AgentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AgentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
