@page
@model P_S_Reality.Pages.Properties.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Bedrooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Bedrooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Bathrooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Bathrooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.SquareFootage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.SquareFootage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.ListedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.ListedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.HasGarage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.HasGarage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.HasGarden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.HasGarden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.IsFurnished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.IsFurnished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Agent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Agent.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.Neighborhoods)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.Neighborhoods.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Property.PropertyID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
