@page
@model PropertyStatsModel

@{
    ViewData["Title"] = "Property Statistics";
}

<div class="container text-center">
    <h1 class="display-4">Property Statistics</h1>
</div>

<ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
        Total Properties: @Model.TotalProperties
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Number Sold: @Model.NumberSold
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Number Leased: @Model.NumberLeased
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Number Available: @Model.NumberAvailable
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Average Price: @Model.PriceCommas
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Average Square Footage: @Model.SqFtCommas
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Average Rating: @Model.AverageRating
    </li>
</ul>

